---
interface Props {
  id: number;
  title: string;
  lang: string;
  curriculum: string;
}

const { id, title, lang, curriculum } = Astro.props;
---

<a href={`/${lang}/${curriculum}/quiz/${id}`} class="block">
  <div class="p-3">
    <p class="text-xl font-semibold text-gray-800 underline">{title}</p>
  </div>
</a>